:root {
  /* Fonts */
  --calcBtns: "Genos", sans-serif;
  --calcDisplay: "Orbitron", sans-serif;

  /* Colors */
  --floral-white: #fffcf2ff;
  --pale-silver: #ccc5b9ff;
  --middle-grey: #868179ff;
  --nickel: #757069ff;
  --dim-gray: #635f59ff;
  --black-olive: #403d39ff;
  --jet: #3a3734ff;
  --jet-2: #33312eff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--calcDisplay);
  font-weight: normal;
}

/* Calculator styling */

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, var(--middle-grey), var(--nickel));
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid var(--dim-gray);
  outline: none;
  background: var(--black-olive);
  color: var(--floral-white);
}

.calculator > button:hover {
  background-color: var(--flame);
  opacity: 0.9;
  transition: 0.75s;
}

.bigBtn {
  grid-column: span 2;
}

.calculator > #equals {
  background: var(--flame);
}

.calculator > #equals:hover {
  background: var(--dim-gray);
  transition: 0.75s;
}

.calculator > #operator,
.calculator > #clearAll,
.calculator > #delete {
  background: var(--jet-2);
}

/* display styling */

.outputDisplay {
  grid-column: 1/-1;
  background: linear-gradient(to right, var(--jet-2), var(--eerie-black));
  opacity: 0.85;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

.displayOne {
  color: var(--floral-white);
  opacity: 0.75;
}

.displayTwo {
  color: var(--floral-white);
  font-size: 2.5rem;
}
